body {
  
  font-family: "Oswald", sans-serif;
  overflow: hidden;
}
.index {
  width: 100%;
  height: 100vh;
}

.masthead {

  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('/img/fondo.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.masthead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px){
    .masthead h1{
        font-size: 5.5rem ;
    }
}
