    {{#if message}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto p-2">


                <div class=" alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
 
 {{#if success}}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto p-2">


                <div class=" alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

  