<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">Favorite links</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
 
      <ul class="navbar-nav mr-auto ">
        {{#if user}}

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/links">All links</a></li>
            <li><a class="dropdown-item" href="/links/add">Add a Link</a></li>


          </ul>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">Profile</a>
        </li>
        <li  class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">SignIn</a>
        </li>
          <li class="nav-item">
          <a href="/signup" class="nav-link">SignUp</a>
        </li>
        {{/if}}
        
      </ul>
    </div>
  </div>
  
</nav>